<IFModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond $1 !^(favicon\.ico|favicon\.png|media|robots\.txt|crossdomain\.xml|css|js|assets|application)
	RewriteRule  ^(.*)$ index.php?/$1 [L]
	AddDefaultCharset UTF-8
</IFModule>